/* Root style for background and font */
.root {
    -fx-background-color: #2c3e50;
    -fx-font-family: 'Arial', sans-serif;
}

/* VBox style for alignment and padding */
#buttonContainer {
    -fx-alignment: center;
    -fx-padding: 20;
}

/* General button style */
.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-padding: 10 20;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-pref-width: 200px; /* Set a uniform button width */
}

/* Hover and specific button color styles */
.button:hover {
    -fx-background-color: #2980b9;
}
.button.custom-background {

    -fx-background-color: inherit;
}

.button.custom-background:hover {
    -fx-background-color: derive(-fx-background-color, -20%);
}

